.env
.git
.gitignore
.github
.env.example-production
vendor/
writable/logs/*
!writable/logs/index.html
writable/cache/*
!writable/cache/index.html
writable/session/*
!writable/session/index.html
writable/debugbar/*
!writable/debugbar/.gitkeep
writable/uploads/*
!writable/uploads/index.html
tests/
builds
env
*.log
Dockerfile
.dockerignore